{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/projects/generic.css') }}">
{% endblock %}

{% block body %}
    <div id="project">
        <a id="back-button" href="{{ url('homepage') }}">BACK</a>
        {% for image in images %}
            <div>
                <img src="{{ asset(image) }}">
            </div>
        {% endfor %}
    </div>
{% endblock %}
