html, body {
    overflow: hidden;
    margin: 0;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    color: #f1f1f1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#logo {
    z-index: 1500;
    position:absolute;
}

#work {
    position: absolute;
    z-index: 500;
    bottom: 11%;
    left: -3.5%;
}

#about {
    position: absolute;
    z-index: 500;
    margin-top: 12%;
    right: -3.5%;
}

#contact {
    position: absolute;
    z-index: 500;
    width: 100%;
    bottom: 0;
    text-align: center;
}

#about-info {
    text-align: right;
    width: 70%;
    float: right;
    padding-right: 2%;
    font-size:45px;
}

#about-info img {
    float: right;
    width: 100%;
}

#contact-info {
    position: absolute;
    width: 100%;
    left: 15%;
    top: 25%;
}

#contact-panel {
    height: 100vh;
}

#about-panel {
    height: 100vh;
}

#work-panel {
    z-index:-1000;
}

#logo > img {
    max-height: 50%;
    max-width: 50%;
}

#video-container {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -100;
}

#video-panel {
    min-width: 100%;
    object-fit: fill;
    max-height: 100%;
}


a{
    text-decoration:none;
    color:white;
}

h2 {
    margin:0;
    font-size: 50px;
    text-align: center;
}

#scene{
    background-color:#304056;
    position:relative;
    overflow:hidden;
    width:100%;
}

.col {
    display: inline-block;
    float: left;
    overflow: hidden;
    position: relative;
    width:30%;
    pointer-events: all;
    overflow:initial;
    margin:0 0 30px;
}

.layer.main{
    width:100%;
    position:absolute;
    z-index:1;
    padding:20px;
}

.col a{
    display:block;
    margin:15px;
    overflow:hidden;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.37);
}

.col a .hover {
    position: absolute;
    top: 15px;
    right:15px;
    bottom:-15px;
    left: 15px;
    z-index: 1;
    color: white;
    background: -moz-linear-gradient(45deg, rgba(0,0,0,0.47) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.47) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(45deg, rgba(0,0,0,0.47) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78000000', endColorstr='#00000000',GradientType=1 );
}

.col a .hover:after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width:100%;
    height:100%;
    display:block;
    background: rgba(0, 0, 0, 0.8);
    opacity:0;
    transition:0.35s ease;
}

.col a .hover:hover:after{
    opacity:0.85;
    transition:0.35s ease;
}

.align-bottom {
    position: absolute;
    bottom: 0;
    z-index: 2;
    padding: 15px 20px;
    left: 0;
    right: 0;
}

.bg-img{
    padding:0;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-size:cover;
    background-position:50% 50%;
}
