<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}IZVOR{% endblock %}
        </title>
        <link href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('/assets/favicon.png') }}"/>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/2.1.3/parallax.min.js"></script>
            <script type="text/javascript" src="{{ asset('/assets/javascript/scriptlife.js') }}"></script>
        {% endblock %}
    </body>
</html>
