div img {
    width: 100%;
    vertical-align: middle;
}

html, body {
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    color: #f1f1f1;
    margin: 0;
}

#back-button {
    position: fixed;
    z-index: 500;
    bottom: 22%;
    right: -1%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

a:link, a:active, a:visited {
    text-decoration: none;
    color: #f1f1f1;
}

a:hover {
    text-decoration: none;
    color: #dcdcdc;
}
